/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.5 可以自行修改*/
    background: rgba(255, 255, 255, .2);
}

/* 所有页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表透明度为0.7 */
    background: rgba(255, 255, 255, .3);
}

/*侧边卡片的透明度 */
:root {
    --card-bg: rgba(255, 255, 255, 0.3) !important;
}

/* 暗色模式下的卡片透明度 */
[data-theme='dark'] {
    --card-bg: rgba(18, 18, 18, 0.5) !important;
}

/* 页脚透明 */
#footer {
    /* 以下代表透明度为0.1*/
    background: rgba(255, 255, 255, .1);
}